footer
    .container
        .row
            .col-md-8.col-sm-12
                p
                    a.lang-item.d-inline-block(href='#') Русский
                        i.fas.fa-chevron-down
                .footer-menu
                    ul.nav
                        li.nav-item
                            a.nav-link(href='#') Ресурсы
                        li.nav-item
                            a.nav-link(href='#') Контакты
                        li.nav-item
                            a.nav-link(href='#') О нас
                        li.nav-item
                            a.nav-link(href='#') Новости сайта
                        li.nav-item
                            a.nav-link(href='#') Условия использования

                p.copyright © 2006–2016 Work.ua. Сайт поиска работы №1 в Украине.
            .col-md-4.col-sm-12
                a.link-info.btn-item(href='#')
                    | Соискателю
                    i.fas.fa-chevron-right
        .footer-bottom
            .row.justify-content-between
                .col-md-5.col-sm-12
                    p Сделано в компании «
                        a.company(href='https://www.reactor.com.ua/', target='_blank') Реактор
                        | ».
                .col-md-7.col-sm-12
                    ul.nav
                        li.nav-item
                            a.nav-link(href='https://www.education.ua/', target='_blank') Образование
                        li.nav-item
                            a.nav-link(href='https://www.trn.ua/', target='_blank') Тренинги
                        li.nav-item
                            a.nav-link(href='https://www.ratatype.com/ru/?lang=ru', target='_blank') Клавиатурный тренажер
                        li.nav-item
                            a.nav-link(href='https://www.ratatype.com/', target='_blank') Typing tutor