header.position-relative
    .container
        .d-flex.justify-content-end
            a.link-info.d-inline-block(href='#')
                | Соискателю
                i.fas.fa-chevron-right
        nav.navbar.d-flex.justify-content-between.px-0
            .navbar-brand.py-0
                a.navbar-logo(href='/')
            .navbar-menu
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(href='#')
                            span.desc Найти резюме
                            span.icon.mobile
                                img(src="/img/summary.svg")
                            span.text.mobile Резюме

                    li.nav-item
                        a.nav-link(href='#')
                            span.desc Добавить вакансию
                            span.icon.mobile
                                img(src="/img/vacancy.svg")
                            span.text.mobile Вакансии
                    li.nav-item.nav-name
                        a.nav-link(href='#') 
                            span.desc Диван-кафе
                            span.icon.mobile
                                img(src="/img/entrance.svg")
                            span.text.mobile Войти