section.content.bg-gray
    div.container
        div.link-return.d-inline-block
            a(href="#")
                i.fas.fa-chevron-left
                | Личный раздел
        div.content-wrap
            h1.font-weight-bold Вакансии и отклики
            p.font-weight-bold У вас еще нет вакансий.
            div.text-content
                p Чтобы начать активный поиск сотрудников, создайте ваши вакансии. Помните! Большинство соискателей не размещают резюме на сайте, а отправляют их прямо на найденные вакансии. Поэтому размещайте вакансии, и вы значительно увеличите шансы найти сотрудника.
            div.btn-wrap
                a.bnt.btn-success.font-weight-bold.btn-item(href="#") Создать вакансию
                span.bnt-link
                    | В наличии&nbsp
                    a(href="#") 1 публикация