header.position-relative
    div.container
        div.d-flex.justify-content-end
            a.link-info(href='#')
                | Соискателю
                i.fas.fa-chevron-right
        nav.navbar.d-flex.justify-content-between.px-0
            div.navbar-brand
                a.navbar-logo(href='/')
                    img(src="/assets/build/img/work-ua.png")
            div.navbar-menu
                ul.navbar-nav.navbar-expand-lg
                    li.nav-item
                        a.nav-link(href='#') Найти вакансии
                    li.nav-item
                        a.nav-link(href='#') Добавить вакансию
                    li.nav-item.nav-name
                        a.nav-link(href='#') Диван-кафе