doctype html
html(lang="ru")
    head
        include ./templates/head
    body
        include ./templates/header
        include ./templates/content
        include ./templates/footer
    script(src='js/main.min.js')